absl-py==1.4.0
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
alibabacloud-credentials==0.3.2
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.2.1
alibabacloud-pai-dlc20201203==1.0.0
alibabacloud-paistudio20220112==1.0.9
alibabacloud-tea-openapi==0.3.7
alibabacloud-tea-util==0.3.8
alibabacloud-tea-xml==0.0.2
alibabacloud-tea==0.3.1
alipai==0.1.7
aliyun-log-python-sdk==0.8.5
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
aliyun-python-sdk-sts==3.1.1
anyio==3.6.2
anykeystore==0.2
apex==0.1
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
astor==0.8.1
astroid==2.15.2
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
autopep8==1.7.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
boltons==23.0.0
brotlipy==0.7.0
cachetools==5.3.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.3
common-io==0.4.0+tunnel
conda-content-trust==0.1.3
conda-package-handling==1.9.0
configparser==5.3.0
contextlib2==21.6.0
contourpy==1.0.7
cpython==0.0.6
crcmod==1.7
cryptacular==1.6.2
cryptography==38.0.1
cvxopt==1.2.6
cycler==0.11.0
cython==0.29.33
dataclasses==0.6
dateparser==1.1.8
debugpy==1.6.7
decorator==5.1.1
decord==0.6.0
defusedxml==0.7.1
descartes==1.1.0
dill==0.3.6
dnspython==2.3.0
docker-pycreds==0.4.0
eas-prediction==0.12
easy-rec==0.1.6
einops==0.6.0
elastic-transport==8.4.0
elasticsearch==8.7.0
executing==1.2.0
fairscale==0.4.13
fastjsonschema==2.16.3
filelock==3.11.0
fire==0.5.0
flake8==6.0.0
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.4.0
gitdb==4.0.10
gitpython==3.1.31
google-auth-oauthlib==1.0.0
google-auth==2.17.2
googleapis-common-protos==1.59.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.53.0
h5py==3.8.0
huggingface-hub==0.13.4
hupper==1.12
hyperopt==0.1.2
idna==3.4
imageio==2.27.0
imgaug==0.4.0
importlib-metadata==6.2.0
importlib-resources==5.12.0
iopath==0.1.10
ipykernel==6.22.0
ipython-genutils==0.2.0
ipython==8.12.0
ipywidgets==8.0.6
isoduration==20.11.0
isort==5.12.0
jedi==0.18.2
jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
json-tricks==3.16.1
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.17.3
jupyter-client==8.1.0
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyter-events==0.6.3
jupyter-server-terminals==0.4.4
jupyter-server==2.5.0
jupyter==1.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
lazy-loader==0.2
lazy-object-proxy==1.6.0
llvmlite==0.39.1
lmdb==1.4.1
markdown-it-py==2.2.0
markdown==3.4.3
markupsafe==2.1.2
matplotlib-inline==0.1.6
matplotlib==3.5.2
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.5
mmcv-full==1.7.0
multidict==6.0.4
mysql-connector-python==8.0.32
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1
notebook-shim==0.2.2
notebook==6.5.4
numba==0.56.4
numpy==1.23.5
nuscenes-devkit==1.1.10
nvidia-dali-cuda110==1.24.0
oauthlib==3.2.2
onnx-simplifier==0.4.28
onnx==1.14.0
opencv-contrib-python==4.6.0.66
opencv-python-headless==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
oss2==2.17.0
packaging==23.0
pai-automl==0.0.4
pai-easycv==0.9.0
pai-nni==2.6
pandas==2.0.0
pandocfilters==1.5.0
parso==0.8.3
pastedeploy==3.0.1
pathtools==0.1.2
patsy==0.5.3
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.5.0
pip==23.0.1
plaster-pastedeploy==1.0.1
plaster==1.1.2
platformdirs==3.2.0
plotly==5.14.1
pluggy==1.0.0
portalocker==2.7.0
prettytable==3.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyaes==1.6.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11-global==2.10.1
pybind11==2.10.1
pyclipper==1.3.0.post4
pycocotools==2.0.6
pycodestyle==2.10.0
pycosat==0.6.4
pycparser==2.21
pycryptodome==3.17
pyflakes==3.0.1
pygments==2.15.1
pylint==2.17.2
pymongo==4.3.3
pyodps==0.11.3.1
pyopenssl==22.0.0
pyparsing==3.0.9
pyquaternion==0.9.9
pyramid-mailer==0.15.1
pyramid==2.0.1
pyrsistent==0.19.3
pysocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python3-openid==3.2.0
pythonwebhdfs==0.2.3
pytorch-metric-learning==2.1.0
pytz-deprecation-shim==0.1.0.post0
pytz==2023.3
pywavelets==1.4.1
pyyaml==6.0
pyzmq==25.0.2
qtconsole==5.4.2
qtpy==2.3.1
qudida==0.0.4
rapidfuzz==2.15.0
regex==2023.3.23
repoze.sendmail==4.4.1
requests-oauthlib==1.3.1
requests==2.28.1
responses==0.23.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rsa==4.9
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.21
sailfish==1.0.1
schema==0.7.5
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
send2trash==1.8.0
sentry-sdk==1.24.0
setproctitle==1.3.2
setuptools==65.6.3
shapely==1.8.5
simplejson==3.19.1
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
sqlalchemy==1.4.48
stack-data==0.6.2
statsmodels==0.13.5
tabulate==0.9.0
tenacity==8.2.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.12.1
termcolor==2.2.0
terminado==0.17.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.3.21
timm==0.5.4
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
torch==1.12.1+cu113
torchaudio==0.12.1
torchvision==0.13.1+cu113
tornado==6.2
tqdm==4.65.0
training-utils==1.0.6
traitlets==5.9.0
transaction==3.1.0
transformers==4.27.4
translationstring==1.4
types-pyyaml==6.0.12.9
typing-extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uri-template==1.2.0
urllib3==1.26.13
velruse==1.1.1
venusian==3.0.0
wandb==0.15.3
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
webob==1.8.7
websocket-client==1.5.1
websockets==11.0.1
werkzeug==2.2.3
wget==3.2
wheel==0.38.4
widgetsnbextension==4.0.7
wrapt==1.15.0
wtforms-recaptcha==0.3.2
wtforms==3.0.1
xgboost==1.7.5
xlrd==2.0.1
xtcocotools==1.13
yacs==0.1.8
yapf==0.32.0
yarl==1.8.2
zipp==3.15.0
zope.deprecation==5.0
zope.interface==6.0
zope.sqlalchemy==2.0